.container {
  composes: container from '../common.module.css';
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
}

.menu {
  width: 320px;
}

.form {
  composes: form from '../common.module.css';
  max-width: 480px;
}

.error {
  composes: error from '../common.module.css';
}
